a.button{
    font-size: 20px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: lightblue ;
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 8px 10px; 
    margin-top: 6px;
}

.homeButton{
    text-decoration: underline;
    background-color: white;
    border: none;
}

#search {
    background-color: lightblue ;
}

#bookings{
    background-color: yellow ;
}

#reviews{
    background-color: darkgreen ;
}