a{
    font-size: 20px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: lightblue ;
    padding: 8px 10px;
    display: inline-block;
    margin-top: 6px;
    text-decoration: none;
    color: black;
}

