body {
    font-size: 20px;
    font-weight: 100;
    text-decoration: none;
    text-align: center;
    color: rgb(29, 33, 37);
    font-family: Arial, Helvetica, sans-serif;
}

img{
    height: 150px;
    width: 150px;
    border-radius: 70%;
    object-fit: cover;
    border: 5px solid black;
}

.header{
    margin-top: 30px;
}

.homeButton{
    padding-right: 25px;
    text-decoration: underline;
    background-color: white;
    border: none;
    color: black;
    padding: 8px 10px; 
    margin-top: 6px;
    
}

.logout{
    text-decoration: underline;
    background-color: white;
    border: none;
    color: black;
    padding: 8px 10px; 
    margin-top: 6px;
}

.viewProfile{
    padding-right: 25px;
    text-decoration: underline;
    background-color: white;
    border: none;
    color: black;
    padding: 8px 10px; 
    margin-top: 6px;
}

.header{
    margin-bottom: 40px;
}

@media only screen and (max-width: 600px) {

    .homeButton{
        padding-right: 5px;
    }
    .logout{ 
        padding-right: 5px;
     }
}