<!DOCTYPE html>
<head>
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- set the title of the web page -->
    <title>{% block title %}{% endblock %} - Dog Walker</title>
    <!-- add style  to the site -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% endblock %}
</head>

<body>
    <div id="nav-bar">
        <ul>
        <li><a href="/home">Home</a></li>
        </ul>
    </div>
    {% block body %}
    {% endblock %}
</body>