<!DOCTYPE html>
<head>
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- set the title of the web page -->
    <title>{% block title %}{% endblock %} - Dog Walker</title>
    <!-- add style  to the site -->
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <div >
        <a class="homeButton" href="/home">Home</a><a class="logout" href="/logout">Logout</a>
    </div> 
        


    {% block body %}
    {% endblock %}
</body>