{% extends "base.html" %}
{% block title %}Bookings{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bookings.css') }}">

{% endblock %}

{% block body %}
    {{ super() }}
    <h1>Bookings</h1>
    <!-- loops through bookings in the format -> [ownerId, walkerId, date, day, startTime, endTime] -->
    {% for i in bookings %}
    <p> 
        <!-- Checks if the account of the user is owner  -->
        {% if accType == 'Owner' %}
            <span style="font-weight: bold;"> Walker: </span> {{ user(i[1]).fName }} {{ user(i[1]).lName }} 
            <a href="/profile/{{ i[1] }}">View</a>
            <br>
        {% else %}
            <span style="font-weight: bold;"> Owner: </span> {{ user(i[0]).fName }} {{ user(i[0]).lName }} 
            <a href="/profile/{{ i[0] }}">View</a>
            <br>
        {% endif %}
        <span style="font-weight: bold;"> Time: </span> {{ i[4] }} - {{ i[5] }} <br>
        <span style="font-weight: bold;"> Day: </span> {{ i[3].capitalize() }} <br>
        <span style="font-weight: bold;"> Date: </span> {{ i[2] }} <br>
        <a id="delete" href="/delBooking/{{ i[0] }};{{ i[1] }};{{ i[2] }}">Delete</a>
    </p>
    {% endfor %}
{% endblock %}