{% extends "base.html" %}
{% block title %}Confirm{% endblock %}

{% block head %}
    {{ super() }}

{% endblock %}

{% block body %}
{{ super() }}

    <!-- Passed Variables
    walkerId = the id of the walker that was clicked form the search results
    bookingsData = array of data from the search format [ownerId,date,day,startTime,endTime]
    -->
    <h1>Booking Confirmation</h1>
    <p>
        <span style="font-weight: bold;">Walk Time: </span>{{ bookingData[3] }} - {{ bookingData[4] }} <br>
        <span style="font-weight: bold;">Day: </span> {{ bookingData[2].capitalize() }} <br>
        <span style="font-weight: bold;">Date: </span> {{ bookingData[1] }} <br>
        <span style="font-weight: bold;">Walker: </span> {{ walker.fName }} {{ walker.lName }} <br>
    </p>
    <form method="POST">
        <input type="submit" value="CONFIRM"><br>
    </form>
{% endblock %}