<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dog Walker - Edit</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <h1>{{ day.capitalize() }}</h1>
    <form method="POST">
        <label for="startTime">Start Time:</label>
        <input id="startTime" type="time" name="startTime" required><br>
        <label for="endTime">End Time:</label>
        <input id="endTime" type="time" name="endTime" required><br>
        <input type="submit" value="Edit">
    </form>

</body>