{% extends "base.html" %}
{% block title %}Edit Aviailability{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

{% endblock %}

{% block body %}
    {{ super() }}

    <h1>{{ day.capitalize() }}</h1>
    <form method="POST">
        <label for="startTime">Start Time:</label>
        <input id="startTime" type="time" name="startTime" value="{{request.form['startTime']}}" required><br>
        <label for="endTime">End Time:</label>
        <input id="endTime" type="time" name="endTime" value="{{request.form['endTime']}}" required><br>
        <input type="submit" value="Edit"><br>
    </form>
    <br>
    <form name='notAvailabile' method="POST">
        <input style="display: none;" type="text" name='notAvail' value="true">
        <label for="notAvaialbe">Or select not Available</label><br>
        <input type="submit" value="Not Availabile"><br>
    </form>
    <p style="color: red;">{{ err }}</p>

{% endblock %}