{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}"> 
{% endblock %}

{% block body %}
    {{ super() }}
    
    <img src="{{ url_for('static', filename=usrObj.getProfilePic()) }}">
    <p>Welcome, {{ usrObj.fName }} {{ usrObj.lName }}<br>
        You are a {{ (usrObj.accType).capitalize() }}
    </p>
    <!-- WHEN SIGNED IN AS WALKER -->
    {% if usrObj.accType == 'walker' %}
    <div>
        <p>
            <span style="font-weight: bold;">Change your availability</span><br>
            Change when you are available for walking <br>
            <a class="button" id="search" href="availability">Click Here</a>
        </p>
        <p>
            <span style="font-weight: bold;">Check your bookings</span><br>
            View the bookings that you curently have <br>
            <a class="button" id="bookings" href="bookings/Walker">Click Here</a>
        </p>
        <p>
            <span style="font-weight: bold;">View your Reviews</span><br>
            View the reviews you have made <br>
            <a class="button" id="reviews" href="/reviews">Click Here</a>
        </p>
    </div>
    <!-- WHEN SIGNED IN AS OWNER -->
    {% else %}
    <div>
        <p>
            <span style="font-weight: bold;">Dog Needs Walking</span><br>
            Enter your poscode and we will show<br>you dog walkers in your local area<br>
            <a class="button" id="search" href="search">Click Here</a>
        </p>
        <p>
            <span style="font-weight: bold;">Check your bookings</span><br>
            View the bookings that you curently have <br>
            <a class="button" id="bookings" href="bookings/Owner">Click Here</a>
        </p>
        <p>
            <span style="font-weight: bold;">View your Reviews</span><br>
            View the bookings that you curently have <br>
            <a class="button" id="reviews" href="/reviews">Click Here</a>
        </p>
    </div>
    {% endif%}
{% endblock %}