{% extends "base.html" %}
{% block title %}Review{% endblock %}

{% block head %}
    {{ super() }}

{% endblock %}

{% block body %}
{{ super() }}
    <!-- Login header that appears at the top of the webpage -->
    <h1>Leave Review</h1>

    <!-- This is the login form that will be displayed on the login page with the username and password fields 
    to be subbmitted POST method used-->
    <form method="POST">
        <!-- t  -->
        <label>Start Rating:</label>
        <input type="number" name="star" min="1" max="5" required><br>
        
        <!-- the username input has name usr which will be used when retriving this data  -->
        <label>Message:</label>
        <input type="text" name="message" required><br> 

        <input type="submit" value="Done"><br> 
    </form>
{% endblock %}