<!DOCTYPE html>
<head>
    <!-- set the title of the web page -->
    <title>Dog Walker - LogIn</title>
     <!-- add style  to the site -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>


<body>
    <!-- Login header that appears at the top of the webpage -->
    <h1>LOGIN</h1>

    <!-- This is the login form that will be displayed on the login page with the username and password fields 
    to be subbmitted POST method used-->
    <form method="POST">
        <label>Email:</label><br>
        <!-- the username input has name usr which will be used when retriving this data  -->
        <input type="text" name="email"><br> 
        <label>Password:</label><br>
        <!-- the password input has name pas which will be used when retriving this data  -->
        <input type="password" name="pas"><br>
        <input type="submit" value="LOG IN">
        <p style="color: red;">{{ error }}</p>
    </form>
    <a href='register'>Register</a>
</body>


</html>