<!DOCTYPE html>
<head>
    <!-- set the title of the web page -->
    <title>Dog Walker - LogIn</title>
     <!-- add style  to the site -->
    <style>
        h1{
            text-align: center;
            font-size: 50px;
        }

        form {
            text-decoration: solid;
            font-weight: 100;
            font-style: normal;
            font-size: 20px;
        }
    </style>
</head>


<body>
    <!-- Login header that appears at the top of the webpage -->
    <h1>LOGIN<h1>

    <!-- This is the login form that will be displayed on the login page with the username and password fields 
    to be subbmitted POST method used-->
    <form action="#" method="POST">
        <label>Username:</label><br>
        <!-- the username input has name usr which will be used when retriving this data  -->
        <input type="text" name="usr"><br> 
        <label>Password:</label><br>
         <!-- the password input has name pas which will be used when retriving this data  -->
        <input type="password" name="pas"><br>
        <input type="submit" value="submit">
    </form>
</body>


</html>