{% extends "base.html" %}
{% block title %}Review{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    {{ super() }}

{% endblock %}

{% block body %}
{{ super() }}

    {% if session['usrId'] == userObj.usrId  %}
        <a class="profilePic" href="/editProfile">
            <img src="{{ url_for('static', filename=userObj.getProfilePic()) }}"><br>
        </a>
    {% else %}
        <img src="{{ url_for('static', filename=userObj.getProfilePic()) }}"><br>
    {% endif %}
        
    <!-- This paragraph will load the name of the user being displayed -->
    <p><span class="name"> {{ userObj.fName }} {{ userObj.lName }}</span><br>
        This user is a Dog {{ (userObj.accType).capitalize() }} <br>
        Rating {{ userObj.starRating }} Stars
    </p>

    <!-- This section handels the reviews  -->
    <p>
        <!-- Will load the leave a review page  -->
        {% if session['usrId'] != userObj.usrId  %}
            <a href="/leaveReview/{{ userObj.usrId }}" id="topButton">Leave A Review</a>
        {% endif %}
        <h4>Most Recent Reviews</h6>

        <!-- Loops through the 5 most recent reviews -->
        {% for i in userObj.getReviewsFor() %}
            <!-- div that will display all the information about the review -->
            <div class="review">
                <span style="font-size: 12px;">
                    <span class="name">Date Made</span> -  {{ i[2] }}<span style="padding-left: 30px;"></span>
                    <span class="name">Review From </span> - {{ user(i[0]).fName }} {{ user(i[0]).lName }} <br>
                    <span class="name">Stars - </span>{{ i[3] }}
                    <p class="reviewText">"{{ i[4] }}"</p>
                </span>
            </div>
        {% endfor %}
    </p>
{% endblock %}