<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DogWalker-Register</title>
    <!-- links the main css fail into the template so the style will be update with the main css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <h1>REGISTER</h1>
    <form method="POST">
        <label>Email:</label>
        <!-- the username input has name usr which will be used when retriving this data  -->
        <input type="text" name="email" placeholder="Email" value="{{request.form['email']}}" required><br> 
        <label >Password:</label>
        <!-- the password input has name pas which will be used when retriving this data  -->
        <input type="password" name="pas1" placeholder="Password" value="{{request.form['pas1']}}" required>
        <input type="password" name="pas2" placeholder="Confirm Password" value="{{request.form['pas2']}}" required><br>

        <label >First Name:</label>
        <input type="text" name="fName" placeholder="First Name" value="{{request.form['fName']}}" required><br>
        <label >Last Name:</label>
        <input type="text" name="lName" placeholder="Last Name" value="{{request.form['lName']}}" required><br>

        <!-- Post code input -->
        <label>Post Code(<span style="font-style: italic;">just the start</span>):</label><br>
        <input type="text" name="post" placeholder="e.g BR89" value="{{request.form['post']}}" required><br> 

        <p>Please select the type of account:</p>
        <input type="radio" name="accType" value="walker" required>
        <label for="walker">Walker</label>
        <input type="radio" name="accType" value="owner" required>
        <label for="owner">Owner</label><br>
        <input type="submit" value="Regiser" >
        <!-- This is where the variable "error" is passed into the function will appear  -->
        <p style="color: red;">{{ error }}</p>
    </form>
</body>
</html>