<!DOCTYPE html>
<html>
<head>
    <title>DogWalker-Register</title>
    <!-- links the main css fail into the template so the style will be update with the main css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <h1>REGISTER</h1>
    <form method="POST">
        <label>Username:</label><br>
        <!-- the username input has name usr which will be used when retriving this data  -->
        <input type="text" name="usr" placeholder="Username"><br> 
        <label >Password:</label><br>
        <!-- the password input has name pas which will be used when retriving this data  -->
        <input type="password" name="pas1" placeholder="Password"><br>
        <input type="password" name="pas2" placeholder="Confirm Password"><br>
        <input type="submit" value="Regiser" >
        <!-- This is where the variable "error" is passed into the function will appear  -->
        <p style="color: red;">{{ error }}</p>
    </form>
</body>
</html>