<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- set the title of the web page -->
    <title>Dog Walker - Search</title>
     <!-- add style  to the site -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <h1>Search</h1>
    <!-- form for inputing the data for the search for a dog walker-->
    <form method="POST">
        
        <!-- Post code input -->
        <label>Post Code(<span style="font-style: italic;">just the start</span>):</label><br>
        <input type="text" name="post" placeholder="e.g BR89" value="{{ request.form['post'] }}" required><br> 
        
        <!-- date input -->
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" min="{{ today }}" value="{{ request.form['date'] }}"><br>
       
        <!-- start time input -->
        <label for="startTime">Start Time:</label>
        <input id="startTime" type="time" name="startTime" required><br>
        
        <!-- end time input -->
        <label for="endTime">End Time:</label>
        <input id="endTime" type="time" name="endTime" required><br>
    
        <!-- Search button  -->
        <input type="submit" value="search">
    </form>
    <p style="color: red;">{{ err }}</p>
</body>
</html>